<%= button_to "▲", votes_path(comment_id: comment.id, value: 1), method: :post, class: "px-1 #{user_vote&.value == 1 ? 'text-red-500' : 'text-gray-500 hover:text-gray-300'}" %>
<span class="font-medium text-gray-200"><%= comment.score %></span>
<%= button_to "▼", votes_path(comment_id: comment.id, value: -1), method: :post, class: "px-1 #{user_vote&.value == -1 ? 'text-blue-500' : 'text-gray-500 hover:text-gray-300'}" %>
